// index
*{
    background-color: #ffffff;
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 20%;
    .logo-google{
        text-align: center;
        #logo-google{
            height: 55px;
        }
    }
    .buscador-google{
        text-align: center;
        #buscador-google{
        height: 70px;
    }
    }
    
    .secciones-google{
        
        ul{
            justify-content: center;
            li{
                list-style: none;
                display: inline;
                a{
                    color: hwb(0 0% 100% / 0.700);
                    font-size: 17px;
                    padding: 0 5px;
                }
            }
        }
        
    }

}

.section-imagenes{
    text-align: center;
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-gap: 10px;

    #img1{
        height: 290px;
    }

    #img5{
        height: 190px;

    }
    #img2{
        height: 166px;
    }
    #img6{
        height: 166px;
    }

    #img4{
        height: 190px;
    }

    #img3{
        height: 290px;
    }
}