/* Imports */
//pages
@use './pages/index';
@use './pages/videos';
@use './pages/destacado';

*{
    background-color: #ffffff;
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


    header{
        height: 20%;
        .logo-google{
            text-align: center;
            #logo-google{
                height: 55px;
            }
        }
        .buscador-google{
            text-align: center;
            #buscador-google{
            height: 70px;
        }
        }
        
        .secciones-google{
            
            ul{
                text-align: center;
                li{
                    list-style: none;
                    display: inline;
                    a{
                        color: hwb(0 0% 100% / 0.700);
                        text-decoration: none;
                        font-size: 17px;
                        padding: 0 5px;
                    }
                }
            }
            
        }
    }


//Estilo cuando (secciones-google) es cliqueado
.secciones-google{
    a:active{
        font-weight: 900;
        text-decoration: underline;
    }
}

